<meta property="fb:app_id" content="{{document.share.facebook.appid}}">
<meta property="og:image" content="{{document.share.facebook.image}}">
<meta property="og:site_name" content="{{document.share.facebook.siteName}}">
<meta property="og:type" content="{{document.share.facebook.type}}">
<meta property="og:title" content="{{document.share.facebook.title}}">
<meta property="og:url" content="{{document.share.facebook.url}}">
<meta property="og:description" content="{{document.share.facebook.description}}">
