<link rel="stylesheet" href="/css/module/layout-footer.css">
<div class="footer">
    <div class="wrap col">
        <ul class="footer-info col5">
            <li class="text">服务与支持</li>
            <li class="value">18688714537</li>
            <li class="text">服务时间</li>
            <li class="value">周一至周日 08:30-9:30</li>
            <li class="text">qq和微信</li>
            <li class="value">841354162</li>
        </ul>
        <ul class="col4">
            <li class="text"><i class="fa-github"></i>git仓库</li>
            <li class="value"><a class="https://github.com/robert88/robert88.github.io">https://github.com/robert88/robert88.github.io</a></li>
        </ul>
    </div>
</div>